.events-box {
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .stats {
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
  }
  
  .stat-item {
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Optional: Add a background color */
    color: white; /* Optional: Text color */
    border: none; /* Optional: Remove border */
  }
  